{"openapi":"3.0.0","info":{"title":"API de Favorabilidade","description":"Este é um exemplo da API de Favorabilidade do Módulo MAHM","version":"0.1.0"},"servers":[{"url":"https://www.agroapi.cnptia.embrapa.br/v1","description":"Main production server"},{"url":"https://www.agroapi-sandbox.cnptia.embrapa.br","description":"Internal staging server for testing"}],"paths":{"/favorabilidade":{"post":{"summary":"Para cada situação ambiental informada, retorna a favorabilidade de todos os pixels.","description":"Optional extended description in CommonMark or HTML.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SituacaoAmbiental"},"example":[{"id":1,"pixels":[{"id":1,"temperatura":22.5,"umidadeRelativa":60.4},{"id":2,"temperatura":23.5,"umidadeRelativa":60.7},{"id":3,"temperatura":23.5,"umidadeRelativa":60.7},{"id":4,"temperatura":23.5,"umidadeRelativa":60.7}]},{"id":2,"pixels":[{"id":1,"temperatura":23.5,"umidadeRelativa":60.7},{"id":2,"temperatura":23.5,"umidadeRelativa":60.7},{"id":3,"temperatura":23.5,"umidadeRelativa":60.7},{"id":4,"temperatura":23.5,"umidadeRelativa":60.7},{"id":5,"temperatura":23.5,"umidadeRelativa":60.7}]}]}}}},"responses":{"200":{"description":"Um JSON com uma lista de situações ambientais. A lista pode conter somente 1 situação ambiental","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Favorabilidade"}},"example":[{"situacaoAmbientalId":1,"classificacoes":[{"pixelId":1,"classificacao":"0,76"},{"pixelId":2,"classificacao":"0,65"},{"pixelId":3,"classificacao":"0,35"},{"pixelId":4,"classificacao":"0,23"},{"pixelId":5,"classificacao":"0,41"}]},{"situacaoAmbientalId":2,"classificacoes":[{"pixelId":1,"classificacao":"0,79"},{"pixelId":2,"classificacao":"0,78"},{"pixelId":3,"classificacao":"0,45"},{"pixelId":4,"classificacao":"0,22"},{"pixelId":5,"classificacao":"0,5"}]}]}}}},"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"SituacaoAmbiental":{"type":"object","properties":{"id":{"type":"integer","example":1},"pixels":{"type":"array","items":{"$ref":"#/components/schemas/Pixel"}}},"required":["id"]},"Pixel":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificador Sequencial do Pixel"},"temperatura":{"type":"number","format":"double","description":"Leitura da temperatura"},"umidadeRelativa":{"type":"number","format":"double","description":"Leitura da umidade relativa do ar"}}},"Classificacao":{"type":"object","properties":{"pixelId":{"type":"integer","format":"int64","description":"Identificador Sequencial do Pixel"},"valor":{"type":"number","format":"double"}}},"Favorabilidade":{"type":"object","properties":{"situacaoAmbientalId":{"type":"integer","format":"int64","description":"Identificador Sequencial da Situação Ambiental"},"classificacoes":{"type":"array","items":{"$ref":"#/components/schemas/Classificacao"}}}}}}}